body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.div {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: end;

  height: 100vh;
}

.small {
  height: 80px;
  /* width: ; */
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: aliceblue;
}
button {
  padding: 5px;
  height: 50px;
  width: 200px;
  margin: 5px;
  margin-bottom: 10px;
  border: 5px solid rgb(62, 53, 70);
  border-radius: 9px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
